.Default_marketing-default-hero__Ew4q_ {
  background: radial-gradient(22.4% 45.45% at 55.91% 89.19%, rgba(119, 56, 237, .3) 0, rgba(119, 56, 237, 0) 100%), 
              linear-gradient(98.39deg, #48cb9d 0, #5f91ed 96.14%) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

@media screen and (min-width: 1024px) {
  .Default_marketing-default-hero__Ew4q_ {
    height: 100vh;
    padding: 4rem 0;
    border-bottom-right-radius: 10rem;
  }
}

@media screen and (max-width: 1024px) {
  .Default_marketing-default-hero__Ew4q_ {
    height: auto;
    padding: 2rem;
  }
}

.dist_marketing-container__H_Hue {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .dist_marketing-container__H_Hue {
    padding: 0 4rem;
  }
}

.Default_marketing-default-hero__inner__fqA9B {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 767px) {
  .Default_marketing-default-hero__inner__fqA9B {
    margin-top: 44%;
  }
}

@media screen and (min-width: 1024px) {
  .Default_marketing-default-hero__inner__fqA9B {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.Default_marketing-default-hero__content__4Xu0A {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .Default_marketing-default-hero__content__4Xu0A {
    align-items: flex-start;
    text-align: left;
  }
}

.Default_marketing-default-hero__media__z3g1Z {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .Default_marketing-default-hero__media__z3g1Z {
    margin-top: 2rem;
  }
}

h1 {
  font-family: 'Poppins', sans-serif;
}

.marketing-typo_text-inter-3-regular {
  font-family: 'Roboto', sans-serif;
  color: white;
}
