.Default_marketing-default-hero__Ew4q_
{
  background: radial-gradient(22.4% 45.45% at 55.91% 89.19%, rgba(119, 56, 237, .3) 0, rgba(119, 56, 237, 0) 100%), linear-gradient(98.39deg, #48cb9d 0, #5f91ed 96.14%) !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Default_marketing-default-hero__Ew4q_ { 
    padding: var(--brand-spacing_6,1.5rem) 0 var(--brand-spacing_12,3rem); 
    color: var(--marketing-charcoal-grey-900,#1b1b1b); 
    border-bottom-right-radius: var(--brand-rounded-x20,5rem);
} 

@media screen and (min-width: 1024px){ 
  .Default_marketing-default-hero__Ew4q_ { 
    padding: var(--brand-spacing_16,4rem) 0; 
    border-bottom-right-radius: var(--brand-rounded-x40,10rem);
  } 
}     



.dist_marketing-container__H_Hue { 
    margin: 0 auto; 
    padding: 0 var(--brand-spacing_8,2rem); 
    width: 100%;
} 

@media (min-width: 768px){ 
  .dist_marketing-container__H_Hue { 
    padding: 0 var(--brand-spacing_16,4rem);
  } 
}     

@media (min-width: 1024px){ 
  .dist_marketing-container__H_Hue { 
    padding: 0 var(--brand-spacing_20,5rem);
  } 
}     

@media (min-width: 1280px){ 
  .dist_marketing-container__H_Hue { 
    padding: 0 7.5rem;
  } 
}     

.Default_marketing-default-hero__inner__fqA9B { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: var(--brand-spacing_8,2rem);
} 

@media screen and (min-width: 1024px){ 
  .Default_marketing-default-hero__inner__fqA9B { 
    grid-gap: var(--brand-spacing_10,2.5rem); 
    display: grid; 
    grid-template-columns: repeat(2,1fr);
  } 
}     

.Default_marketing-default-hero__content__4Xu0A { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: var(--brand-spacing_6,1.5rem); 
    text-align: center;
} 

@media screen and (min-width: 1024px){ 
  .Default_marketing-default-hero__content__4Xu0A { 
    flex-direction: column; 
    align-items: flex-start; 
    gap: var(--brand-spacing_8,2rem); 
    text-align: left;
  } 
}     

.Default_marketing-default-hero__media__z3g1Z { 
    width: 100%;
} 

@media screen and (min-width: 1280px){ 
  .Default_marketing-default-hero__media__z3g1Z { 
    height: 400px;
  } 
}     

@media screen and (min-width: 1024px){ 
  .Default_marketing-default-hero__media__z3g1Z { 
    height: 350px; 
    display: flex; 
    align-items: center;
  } 
}     

.Default_marketing-default-hero__document__zulIy { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: var(--brand-spacing_4,1rem);
} 

@media screen and (min-width: 1024px){ 
  .Default_marketing-default-hero__document__zulIy { 
    align-items: flex-start; 
    text-align: left;
  } 
}     

.Default_marketing-default-hero__cta__zb9by { 
    display: flex; 
    flex-direction: column; 
    gap: var(--brand-spacing_4,1rem); 
    width: 100%;

} 

@media screen and (min-width: 1024px){ 
  .Default_marketing-default-hero__cta__zb9by { 
    flex-direction: row; 
    gap: var(--brand-spacing_2,.5rem);
  } 
}     

iframe { 
    display: block; 
    vertical-align: middle;
} 

.Default_marketing-default-hero__media__z3g1Z iframe  { 
    height: 205px; 
    width: 100%; 
    min-width: 311px;
} 

@media screen and (min-width: 640px){ 
  .Default_marketing-default-hero__media__z3g1Z iframe  { 
    height: 300px; 
    min-width: 450px;
  } 
}     

@media screen and (min-width: 1024px){ 
  .Default_marketing-default-hero__media__z3g1Z iframe  { 
    height: 235px; 
    min-width: 412px;
  } 
}     

@media screen and (min-width: 1280px){ 
  .Default_marketing-default-hero__media__z3g1Z iframe  { 
    height: 333px; 
    min-width: 500px;
  } 
}     

h1 { 
    font-size: inherit; 
    font-weight: inherit;
} 

h1 { 
    margin: 0;
} 

.marketing-heading-3 { 
    line-height: var(--brand-typo_heading-3-5-line-height);
    font-weight: bold;
    font-size: 2rem;
    font-family: system-ui;

} 

@media (min-width: 768px){ 
  .marketing-heading-3 { 
    font-family: var(--brand-typo_font-family--primary_semibold); 
    font-size: var(--brand-typo_heading-4-5-font-size); 
    font-weight: var(--brand-typo_font-weight--semibold); 
    line-height: var(--brand-typo_heading-3-5-line-height);
  } 
}     

@media (min-width: 1024px){ 
  .marketing-heading-3 { 
    font-family: var(--brand-typo_font-family--primary_semibold); 
    font-size: var(--brand-typo_heading-5-font-size); 
    font-weight: var(--brand-typo_font-weight--semibold); 
    line-height: var(--brand-typo_heading-4-line-height);
  } 
}     

@media (min-width: 1280px){ 
  .marketing-heading-3 { 
    font-size: var(--brand-typo_heading-7-font-size); 
    line-height: var(--brand-typo_heading-6-line-height);
  } 

  .marketing-heading-3 { 
    font-family: var(--brand-typo_font-family--primary_semibold); 
    font-weight: var(--brand-typo_font-weight--semibold);
  } 
}     

.dist_brevo-heading__utk3d { 
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
    font-family: system-ui;
} 
.Default_marketing-default-hero__text__n2eF4
{
  background: transparent;
  color: white;
  opacity: 1;

}

p { 
    margin: 0;
} 

.marketing-typo_text-inter-3-regular { 
    font-family: var(--brand-typo_font-family--secondary_regular); 
    font-weight: var(--brand-typo_font-weight--regular);
} 

.marketing-typo_text-inter-3-regular { 
    font-size: var(--brand-typo_text-3-font-size); 
    line-height: var(--brand-typo_text-3-line-height);
} 

.Default_marketing-default-hero__text__n2eF4 { 
    margin-bottom: 0;
} 

button { 
    -webkit-appearance: unset; 
    -moz-appearance: unset; 
    appearance: none; 
    border: none; 
    background: none;
} 

button { 
    font-family: inherit; 
    font-feature-settings: inherit; 
    font-variation-settings: inherit; 
    font-size: 100%; 
    font-weight: inherit; 
    line-height: inherit; 
    letter-spacing: inherit; 
    color: inherit; 
    margin: 0; 
    padding: 0;
} 

button { 
    text-transform: none;
} 

button { 
    -webkit-appearance: button; 
    background-color: transparent; 
    background-image: none;
} 

button { 
    cursor: pointer;
} 

.marketing-typo_text-inter-5-medium { 
    font-size: var(--brand-typo_text-5-font-size); 
    line-height: var(--brand-typo_text-3-line-height);
} 

.marketing-typo_text-inter-5-medium { 
    font-family: var(--brand-typo_font-family--secondary_medium); 
    font-weight: var(--brand-typo_font-weight--medium);
} 

.dist_marketing-btn__T7nAD { 
    align-items: center; 
    border: 2px solid var(--marketing-forest-green-800,#006a43); 
    border-radius: var(--brand-rounded-x4,1rem); 
    box-shadow: 0 2px 4px -2px rgba(27,27,27,.1),0 4px 8px -2px rgba(27,27,27,.14); 
    box-sizing: border-box; 
    cursor: pointer; 
    display: flex; 
    justify-content: center; 
    max-width: 100%; 
    padding: .625rem var(--brand-spacing_3,.75rem); 
    position: relative; 
    text-align: center; 
    text-decoration: none; 
    transition: .5s; 
    white-space: nowrap;
} 

.dist_marketing-btn--lg__09PM4 { 
    border-radius: 1.125rem; 
    min-height: 68px; 
    padding: calc(var(--brand-spacing_5, 1.25rem) - 2px) var(--brand-spacing_6,1.5rem);
} 

.dist_marketing-btn-light__QOvFK { 
    background-color: var(--marketing-forest-green-800,#006a43); 
    border-color: var(--marketing-forest-green-800,#006a43); 
    color: var(--marketing-white,#fff);
} 

.dist_marketing-btn-light--mint-green__EUo3x { 
    background-color:#5f91ed; 
    border-color:#5f91ed;
} 

/* .dist_marketing-btn-light__QOvFK:not([disabled]):active,.dist_marketing-btn-light__QOvFK:not([disabled]):hover { 
    background-color: var(--marketing-white,#fff); 
    border-color: var(--marketing-forest-green-800,#006a43); 
    color: var(--marketing-forest-green-800,#006a43);
} 

.dist_marketing-btn-light--mint-green__EUo3x:not([disabled]):active,.dist_marketing-btn-light--mint-green__EUo3x:not([disabled]):hover { 
    border-color: var(--marketing-forest-green-800,#006a43); 
    color: var(--marketing-forest-green-800,#006a43);
}  */

.dist_marketing-btn-label__Qr6VO { 
    overflow: hidden; 
    padding: 0 var(--brand-spacing_4,1rem); 
    text-overflow: ellipsis; 
    white-space: nowrap;
   
} 


