@media (min-width: 576px){ 
  .container { 
    max-width: 540px;
  } 
}     

@media (min-width: 768px){ 
  .container { 
    max-width: 720px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    max-width: 960px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1140px;
  } 
}     

@media only screen and (min-width: 1200px) and (max-width: 2500px){ 
  .container { 
    max-width: 1200px;
  } 
}     

.row { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    margin-right: -15px; 
    margin-left: -15px;
} 

.col-lg-6 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 992px){ 
  .col-lg-6 { 
    -ms-flex: 0 0 50%; 
    flex: 0 0 50%; 
    max-width: 50%;
  } 
}     

.about-area .info  { 
    padding-left: 35px;
} 

.about-area .thumb-box  { 
    position: relative; 
    z-index: 1; 
    padding-right: 50px; 
    margin-bottom: 50px;
} 

h5 { 
    margin-top: 0; 
    margin-bottom: .5rem;
} 

h5 { 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h5 { 
    font-size: 1.25rem;
} 

h5 { 
    /* color: #233645;  */
    font-weight: normal; 
    line-height: 1.2; 
    font-family: Inter, sans-serif; 
    letter-spacing: 0; 
    margin: 0;
} 

h5 { 
    margin-bottom: 15px;
} 

.about-area .info > h5 { 
    text-transform: uppercase; 
    color: #1ebeb6; 
    font-weight: 600; 
    font-size: 18px; 
    margin-bottom: 25px;
} 

h2 { 
    margin-top: 0; 
    margin-bottom: .5rem;
} 

h2 { 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h2 { 
    font-size: 2rem;
} 

h2 { 
    color: #233645; 
    font-weight: normal; 
    line-height: 1.2; 
    font-family: Inter, sans-serif; 
    letter-spacing: 0; 
    margin: 0;
} 

h2 { 
    margin-bottom: 15px;
} 

.about-area .info h2  { 
    font-weight: 600; 
    margin-bottom: 25px;
} 

p { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 

p { 
    /* color: #666666;  */
    margin: 0 0 15px; 
    text-transform: none; 
    font-weight: 400;
} 

ul { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 

ul { 
    margin: 0; 
    list-style-type: none;
} 

.about-area ul  { 
    margin: 0 -15px;
} 

.about-area ul.icon-less  { 
    margin-top: -10px; 
    margin-bottom: 8px; 
    overflow: hidden;
} 

a { 
    /* color: #007bff;  */
    text-decoration: none; 
    background-color: transparent;
} 

a { 
    outline: none; 
    text-decoration: none; 
    /* color: #233645; */
} 

a { 
    transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -ms-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
    text-decoration: none; 
    font-family: Inter, sans-serif; 
    font-weight: 700;
} 

.btn { 
    display: inline-block; 
    font-weight: 400; 
    /* color: #212529;  */
    text-align: center; 
    vertical-align: middle; 
    cursor: pointer; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent; 
    border: 1px solid transparent; 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    line-height: 1.5; 
    border-radius: .25rem; 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

a,.btn { 
    transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -ms-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
    outline: medium none;
} 

.btn { 
    display: inline-block; 
    font-family: Inter, sans-serif; 
    font-weight: 600; 
    line-height: 25px; 
    text-transform: capitalize; 
    -webkit-transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -ms-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
    transition: all 0.35s ease-in-out; 
    overflow: hidden; 
    border-radius: 5px; 
    font-size: 17px;
} 

.btn-md { 
    padding: 15px 25px;
} 

.btn-gradient { 
    position: relative; 
    z-index: 1; 
    color: #ffffff !important;
} 

.about-area .info > a { 
    margin-top: 30px;
} 

.btn-gradient:after { 
    position: absolute; 
    left: 0; 
    top: 0; 
    content: ""; 
    height: 100%; 
    width: 100%; 
    background: linear-gradient(90deg, rgba(30,190,182,1) 0%, rgba(0,130,124,1) 100%); 
    transition: all 0.35s ease-in-out; 
    z-index: -1; 
    box-shadow: 0 0 10px rgba(255, 136, 0, 0.5), inset 0 0 1px 1px #1ebeb6;
} 

a:hover { 
    /* color: #0056b3;  */
    text-decoration: underline;
} 

a,a:active,a:hover { 
    outline: none; 
    text-decoration: none; 
    /* color: #233645; */
} 

a:hover { 
    /* color: #233645; */
} 

.btn:hover { 
    color: #212529; 
    text-decoration: none;
} 

.btn-gradient:hover { 
    color: #ffffff;
} 

.btn:active:hover,.btn:hover { 
    outline: 0;
} 

img { 
    vertical-align: middle; 
    border-style: none;
} 

img { 
    border: none; 
    outline: none; 
    max-width: 100%;
} 

/* .about-area .thumb-box img  { 
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}  */

/* .about-area .thumb-box .intro-video  { 
    position: absolute; 
    right: 0; 
    bottom: -50px; 
    background: #ffffff; 
    padding: 50px 30px; 
    left: 120px; 
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08); 
    display: flex; 
    align-items: center;
}  */

strong { 
    font-weight: bolder;
} 

strong { 
    font-weight: 900;
} 

.about-area ul li  { 
    float: left; 
    width: 50%; 
    padding: 0 15px; 
    display: flex; 
    align-items: center; 
    margin-top: 15px;
} 

.about-area ul.icon-less li  { 
    margin-top: 20px;
} 

.fas { 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-font-smoothing: antialiased; 
    display: inline-block; 
    font-style: normal; 
    font-variant: normal; 
    text-rendering: auto; 
    line-height: 1;
} 

.fas { 
    font-family: "Font Awesome 5 Free";
} 

.fas { 
    font-weight: 900;
} 

.btn i  { 
    height: 30px; 
    background: #ffffff; 
    /* color: #1ebeb6;  */
    line-height: 30px; 
    width: 30px; 
    border-radius: 50%; 
    margin-left: 0; 
    margin-right: 5px;
} 

.btn i  { 
    font-size: 14px;
} 

.fa-angle-right:before { 
    content: "\f105";
} 

.about-area .thumb-box .intro-video .video  { 
    padding-right: 30px;
} 

.about-area ul li h5  { 
    text-transform: capitalize; 
    font-weight: 600; 
    font-size: 18px;
} 

.about-area ul.icon-less h5  { 
    margin: 0;
} 

a { 
    transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -ms-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
    outline: medium none;
} 

.video-play-button { 
    color: #1ebeb6; 
    font-size: 30px; 
    left: 50%; 
    padding-left: 7px; 
    position: absolute; 
    top: 50%; 
    transform: translateX(-50%) translateY(-50%); 
    -webkit-transform: translateX(-50%) translateY(-50%); 
    -moz-transform: translateX(-50%) translateY(-50%); 
    -ms-transform: translateX(-50%) translateY(-50%); 
    -o-transform: translateX(-50%) translateY(-50%); 
    z-index: 1;
} 

.video-play-button.relative { 
    position: relative; 
    display: inline-block; 
    left: 30px; 
    height: 68px; 
    width: 68px; 
    line-height: 68px; 
    text-align: center; 
    margin-top: 0 !important; 
    top: 35px; 
    margin-left: 10px;
} 

.video-play-button:before { 
    content: ""; 
    position: absolute; 
    z-index: 0; 
    left: 50%; 
    top: 50%; 
    -webkit-transform: translateX(-50%) translateY(-50%); 
    transform: translateX(-50%) translateY(-50%); 
    display: block; 
    width: 80px; 
    height: 80px; 
    background: #ffffff repeat scroll 0 0; 
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%; 
    -webkit-animation: pulse-border 1500ms ease-out infinite; 
    animation: pulse-border 1500ms ease-out infinite;
} 

.video-play-button.theme:before,.video-play-button.theme:after { 
    background: #1ebeb6 repeat scroll 0 0;
} 

.video-play-button.relative:before,.video-play-button.relative:after { 
    height: 68px; 
    width: 68px; 
    line-height: 68px;
} 

.video-play-button:after { 
    content: ""; 
    position: absolute; 
    z-index: 1; 
    left: 50%; 
    top: 50%; 
    -webkit-transform: translateX(-50%) translateY(-50%); 
    transform: translateX(-50%) translateY(-50%); 
    display: block; 
    width: 80px; 
    height: 80px; 
    background: #ffffff repeat scroll 0 0; 
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%; 
    transition: all 200ms; 
    -webkit-transition: all 200ms; 
    -moz-transition: all 200ms; 
    -ms-transition: all 200ms; 
    -o-transition: all 200ms;
} 

.about-area .content h5  { 
    margin: 0;
} 

.about-area .thumb-box .intro-video h5  { 
    text-transform: capitalize; 
    font-weight: 600; 
    margin-bottom: 15px;
} 

.about-area .thumb-box .intro-video p  { 
    margin: 0;
} 

.fa { 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-font-smoothing: antialiased; 
    display: inline-block; 
    font-style: normal; 
    font-variant: normal; 
    text-rendering: auto; 
    line-height: 1;
} 

.fa { 
    font-family: "Font Awesome 5 Free";
} 

.fa { 
    font-weight: 900;
} 

.video-play-button i  { 
    display: block; 
    position: relative; 
    z-index: 3; 
    color: #1ebeb6;
} 

.video-play-button.theme i  { 
    color: #ffffff;
} 

.video-play-button.relative i  { 
    line-height: 70px; 
    font-size: 25px;
} 

.fa-play:before { 
    content: "\f04b";
} 


