
  .bg-gray {
    background-color: #f7f7f7;
  }
  
  .banner-area {
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .banner-area.auto-height {
    height: auto;
  }
  
  .banner-area {
    height: 100%;
    padding: 1rem;
  }
  
  .banner-area .fixed-shape-left-top {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
  }
  
  .banner-area.auto-height div {
    height: auto;
  }
  
  .banner-area.auto-height .fixed-shape-left-top {
    opacity: 0.06;
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 2500px) {
    .container {
      max-width: 1200px;
    }
  }
  
  img {
    vertical-align: middle;
    border-style: none;
    border: none;
    outline: none;
    max-width: 100%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .align-center {
    align-items: center;
  }
  
  .col-lg-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  @media (min-width: 992px) {
    .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  .double-items > .row div {
    height: auto;
  }
  
  .banner-area.auto-height.fixed-thumb .double-items .info {
    padding: 150px 0;
  }
  
 
  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    font-size: 2rem;
    font-family: Inter, sans-serif;
  }
  
  .banner-area h2 {
    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    margin-bottom: 25px;
  }
  
  .banner-area.text-default h2 {
    font-size: 50px;
    line-height: 1.2;
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }
  
  .fadeInLeft {
    animation-name: fadeInLeft;
  }
  
  .banner-area p {
    padding-right: 20%;
    font-size: 18px;
    line-height: 34px;
    margin: 0 0 15px;
    font-weight: 400;
  }
  
  @media screen {
    
  }
  a {
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    outline: none;
    font-family: Inter, sans-serif;
    font-weight: 700;
  }
  
  .relative {
    position: relative;
    z-index: 1;
  }
  
 
  
 
  
  
 
  
  .banner-area.auto-height.fixed-thumb .thumb img {
    max-width: 90%;
  }
  
  .strong {
    font-weight: bolder;
  }
  
  .banner-area h2 strong {
    display: block;
  }
  
  .fa {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  
 
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-bounce-horizontal {
    animation: bounce-horizontal 1.5s infinite;
  }
  
  @keyframes bounce-horizontal {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
  }
  


  
  /* Add these styles for small screens */
@media only screen and (max-width: 576px) {
  /* Remove bottom padding for the info container */
  .banner-area.auto-height.fixed-thumb .double-items .info {
    padding-bottom: 0;
  }

  /* Set padding-right to 0 for the paragraph */
  .banner-area p {
    padding-right: 0;
  }
}


.hero-image {
  margin-top: 6rem; /* Default padding-top for larger screens */
}

/* Small screens */
@media only screen and (max-width: 576px) {
  .hero-image {
    margin-top: 0; /* Set padding-top to 0 for smaller screens */
  }
}
