/* 
  .bg-gray { 
      background-color: #f7f7f7;
  } 
  
  .banner-area { 
      height: 100%;
  } 
  
  .banner-area { 
      position: relative; 
      overflow: hidden;
  } 
  
  .banner-area.auto-height { 
      height: auto;
  } 
  

  
  .banner-area div  { 
      height: 100%;
  } 
  
  .banner-area .fixed-shape-left-top  { 
      position: absolute; 
      left: 0; 
      top: 0; 
      opacity: 0.3;
  } 
  
  .banner-area.auto-height div  { 
      height: auto;
  } 
  
  .banner-area.auto-height .fixed-shape-left-top  { 
      opacity: 0.06;
  } 
  
  .container { 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px; 
      margin-right: auto; 
      margin-left: auto;
  } 
  
  @media (min-width: 576px){ 
    .container { 
      max-width: 540px;
    } 
  }     
  
  @media (min-width: 768px){ 
    .container { 
      max-width: 720px;
    } 
  }     
  
  @media (min-width: 992px){ 
    .container { 
      max-width: 960px;
    } 
  }     
  
  @media (min-width: 1200px){ 
    .container { 
      max-width: 1140px;
    } 
  }     
  
  @media only screen and (min-width: 1200px) and (max-width: 2500px){ 
    .container { 
      max-width: 1200px;
    } 
  }     
  
  img { 
      vertical-align: middle; 
      border-style: none;
  } 
  
  img { 
      border: none; 
      outline: none; 
      max-width: 100%;
  } 
  
  .row { 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap; 
      margin-right: -15px; 
      margin-left: -15px;
  } 
  
  .align-center { 
      align-items: center;
  } 
  
  .col-lg-6 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 992px){ 
    .col-lg-6 { 
      -ms-flex: 0 0 50%; 
      flex: 0 0 50%; 
      max-width: 50%;
    } 
  }     
  
  .double-items > .row div  { 
      height: auto;
  } 
  
  .banner-area.auto-height.fixed-thumb .double-items .info  { 
      padding: 150px 0;
  } 
  
  .banner-area.auto-height.fixed-thumb .thumb  { 
  } 
  
  h2 { 
      margin-top: 0; 
      margin-bottom: .5rem;
  } 
  
  h2 { 
      margin-bottom: .5rem; 
      font-weight: 700; 
      line-height: 1.2;
  } 
  
  h2 { 
      font-size: 2rem;
  } 
  
  h2 { 
      font-weight: normal; 
      line-height: 1.2; 
      font-family: Inter, sans-serif; 
      letter-spacing: 0; 
      margin: 0;
  } 
  
  h2 { 
      margin-bottom: 15px;
  } 
  
  .fadeInDown { 
      -webkit-animation-name: fadeInDown; 
      animation-name: fadeInDown;
  } 
  
  .banner-area h2  { 
      font-weight: 700; 
      font-size: 80px; 
      line-height: 1; 
      margin-bottom: 25px;
  } 
  
  .banner-area.text-default h2  { 
      font-size: 50px; 
      line-height: 1.2;
  } 
  
  p { 
      margin-top: 0; 
      margin-bottom: 1rem;
  } 
  
  p { 
      margin: 0 0 15px; 
      text-transform: none; 
      font-weight: 400;
  } 
  
  .fadeInLeft { 
      -webkit-animation-name: fadeInLeft; 
      animation-name: fadeInLeft;
  } 
  
  .banner-area p  { 
      padding-right: 20%; 
      font-size: 18px; 
      line-height: 34px;
  } 
  
  a { 
      color: #007bff; 
      text-decoration: none; 
      background-color: transparent;
  } 
  
  a { 
      transition: all 0.35s ease-in-out; 
      -webkit-transition: all 0.35s ease-in-out; 
      -moz-transition: all 0.35s ease-in-out; 
      -ms-transition: all 0.35s ease-in-out; 
      -o-transition: all 0.35s ease-in-out; 
      outline: medium none;
  } 
  
  a { 
      outline: none; 
      text-decoration: none; 
  } 
  
  a { 
      transition: all 0.35s ease-in-out; 
      -webkit-transition: all 0.35s ease-in-out; 
      -moz-transition: all 0.35s ease-in-out; 
      -ms-transition: all 0.35s ease-in-out; 
      -o-transition: all 0.35s ease-in-out; 
      text-decoration: none; 
      font-family: Inter, sans-serif; 
      font-weight: 700;
  } 
  
  .relative { 
      position: relative; 
      z-index: 1;
  } 
  
  .video-play-button { 
      color: #1ebeb6; 
      font-size: 30px; 
      left: 50%; 
      padding-left: 7px; 
      position: absolute; 
      top: 50%; 
      transform: translateX(-50%) translateY(-50%); 
      -webkit-transform: translateX(-50%) translateY(-50%); 
      -moz-transform: translateX(-50%) translateY(-50%); 
      -ms-transform: translateX(-50%) translateY(-50%); 
      -o-transform: translateX(-50%) translateY(-50%); 
      z-index: 1;
  } 
  
  .banner-area a  { 
      margin-top: 15px; 
      margin-right: 5px;
  } 
  
  .banner-area .video-play-button  { 
      top: 50px !important;
  } 
  
  .video-play-button.relative { 
      position: relative; 
      display: inline-block; 
      left: 30px; 
      height: 68px; 
      width: 68px; 
      line-height: 68px; 
      text-align: center; 
      margin-top: 0 !important; 
      top: 35px; 
      margin-left: 10px;
  } 
  
  .video-play-button:before { 
      content: ""; 
      position: absolute; 
      z-index: 0; 
      left: 50%; 
      top: 50%; 
      -webkit-transform: translateX(-50%) translateY(-50%); 
      transform: translateX(-50%) translateY(-50%); 
      display: block; 
      width: 80px; 
      height: 80px; 
      background: #ffffff repeat scroll 0 0; 
      -webkit-border-radius: 50%; 
      -moz-border-radius: 50%; 
      border-radius: 50%; 
      -webkit-animation: pulse-border 1500ms ease-out infinite; 
      animation: pulse-border 1500ms ease-out infinite;
  } 
  
  .video-play-button.theme:before,.video-play-button.theme:after { 
      background: #1ebeb6 repeat scroll 0 0;
  } 
  
  .video-play-button.relative:before,.video-play-button.relative:after { 
      height: 68px; 
      width: 68px; 
      line-height: 68px;
  } 
  
  .video-play-button:after { 
      content: ""; 
      position: absolute; 
      z-index: 1; 
      left: 50%; 
      top: 50%; 
      -webkit-transform: translateX(-50%) translateY(-50%); 
      transform: translateX(-50%) translateY(-50%); 
      display: block; 
      width: 80px; 
      height: 80px; 
      background: #ffffff repeat scroll 0 0; 
      -webkit-border-radius: 50%; 
      -moz-border-radius: 50%; 
      border-radius: 50%; 
      transition: all 200ms; 
      -webkit-transition: all 200ms; 
      -moz-transition: all 200ms; 
      -ms-transition: all 200ms; 
      -o-transition: all 200ms;
  } 
  


  .banner-area.auto-height.fixed-thumb .thumb img  { 
      max-width: 90%;
  } 
  
  strong { 
      font-weight: bolder;
  } 
  
  strong { 
      font-weight: 900;
  } 
  
  .banner-area h2 strong  { 
      display: block;
  } 
  
  .fa { 
      -moz-osx-font-smoothing: grayscale; 
      -webkit-font-smoothing: antialiased; 
      display: inline-block; 
      font-style: normal; 
      font-variant: normal; 
      text-rendering: auto; 
      line-height: 1;
  } 
  
  .fa { 
      font-family: "Font Awesome 5 Free";
  } 
  
  .fa { 
      font-weight: 900;
  } 
  
  .video-play-button i  { 
      display: block; 
      position: relative; 
      z-index: 3; 
      color: #1ebeb6;
  } 
  
  .video-play-button.theme i  { 
      color: #ffffff;
  } 
  
  .video-play-button.relative i  { 
      line-height: 70px; 
      font-size: 25px;
  } 
  
  .fa-play:before { 
      content: "\f04b";
  } 
  
  
  @keyframes fadeInDown { 
    0% {  
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
        -ms-transform: translateY(-20px); 
        transform: translateY(-20px); 
        opacity: 0; 
        transform: translateY(-20px); 
    }  
    100% {  
        opacity: 1; 
        -webkit-transform: translateY(0); 
        -ms-transform: translateY(0); 
        transform: translateY(0); 
        opacity: 1; 
        transform: translateY(0px); 
    }  
  
  } 
  @keyframes fadeInLeft { 
    0% {  
        opacity: 0; 
        -webkit-transform: translateX(-20px); 
        -ms-transform: translateX(-20px); 
        transform: translateX(-20px); 
        opacity: 0; 
        transform: translateX(-20px); 
    }  
    100% {  
        opacity: 1; 
        -webkit-transform: translateX(0); 
        -ms-transform: translateX(0); 
        transform: translateX(0); 
        opacity: 1; 
        transform: translateX(0px); 
    }  
  
  }  */


  /* set-------- */
   
  .bg-gray {
    background-color: #f7f7f7;
  }
  
  .banner-area {
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .banner-area.auto-height {
    height: auto;
  }
  
  .banner-area {
    height: 100%;
    padding: 1rem;
  }
  
  .banner-area .fixed-shape-left-top {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
  }
  
  .banner-area.auto-height div {
    height: auto;
  }
  
  .banner-area.auto-height .fixed-shape-left-top {
    opacity: 0.06;
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 2500px) {
    .container {
      max-width: 1200px;
    }
  }
  
  img {
    vertical-align: middle;
    border-style: none;
    border: none;
    outline: none;
    max-width: 100%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .align-center {
    align-items: center;
  }
  
  .col-lg-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  @media (min-width: 992px) {
    .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  .double-items > .row div {
    height: auto;
  }
  
  .banner-area.auto-height.fixed-thumb .double-items .info {
    padding: 150px 0;
  }
  
  .banner-area.auto-height.fixed-thumb .thumb {}
  
  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    font-size: 2rem;
    font-family: Inter, sans-serif;
  }
  
  .banner-area h2 {
    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    margin-bottom: 25px;
  }
  
  .banner-area.text-default h2 {
    font-size: 50px;
    line-height: 1.2;
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }
  
  .fadeInLeft {
    animation-name: fadeInLeft;
  }
  
  .banner-area p {
    padding-right: 20%;
    font-size: 18px;
    line-height: 34px;
    margin: 0 0 15px;
    font-weight: 400;
  }
  
  a {
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    outline: none;
    font-family: Inter, sans-serif;
    font-weight: 700;
  }
  
  .relative {
    position: relative;
    z-index: 1;
  }
  
  .video-play-button {
    color: #1ebeb6;
    font-size: 30px;
    left: 50%;
    padding-left: 7px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }
  
  .banner-area a {
    margin-top: 15px;
    margin-right: 5px;
  }
  
  .banner-area .video-play-button {
    top: 50px !important;
  }
  
  .video-play-button.relative {
    position: relative;
    display: inline-block;
    left: 30px;
    height: 68px;
    width: 68px;
    line-height: 68px;
    text-align: center;
    margin-top: 0 !important;
    top: 35px;
    margin-left: 10px;
  }
  
  .video-play-button:before,
  .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }
  
  /* .video-play-button.theme:before,
  .video-play-button.theme:after {
    background: #1ebeb6;
  } */
  
  .video-play-button:after {
    z-index: 1;
    width: 80px;
    height: 80px;
    background: #47C9C2;
    transition: all 200ms;
  }
  
  .banner-area.auto-height.fixed-thumb .thumb img {
    max-width: 90%;
  }
  
  .strong {
    font-weight: bolder;
  }
  
  .banner-area h2 strong {
    display: block;
  }
  
  .fa {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  
  /* .video-play-button i {
    display: block;
    position: relative;
    z-index: 3;
    color: #1ebeb6;
  } */
  
  .video-play-button.theme i {
    color: #ffffff;
  }
  
  .video-play-button.relative i {
    line-height: 70px;
    font-size: 25px;
  }
  
  .fa-play:before {
    content: "\f04b";
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-bounce-horizontal {
    animation: bounce-horizontal 1.5s infinite;
  }
  
  @keyframes bounce-horizontal {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
  }
  
