
/* General container and slider styling */
.footer-slider-container {
    max-width: 100%;
    padding: 10px;
}

.footer-slider {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

/* Slide item styling */
.footer-slide-item {
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid #e9ecf0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 250px; /* Restrict max width of each slide */
    margin: 10px; /* Add margin between slides */
}

.footer-slide-item img {
    width: 50px;
    margin-bottom: 10px;
}

.footer-slide-item p {
    color: #262d34;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}

.footer-slide-item small {
    color: rgba(38, 45, 52, 0.8);
    font-size: 12px;
    line-height: 16px;
}

/* Navigation buttons */
.owl-nav button {
    background-color: var(--web-primary);
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}

/* Owl Nav Hover */
.owl-nav button:hover {
    background-color: var(--web-secondary);
}

/* Responsive adjustments */
@media (max-width: 575px) {
    .footer-slider {
        flex-direction: column; /* Stack items vertically on small screens */
    }
    .owl-stage
    {
        flex-direction: column;
        width: 100%;
    }
    .owl-item {
     width: 100%;
    }

    .footer-slide-item {
        padding: 10px 5px;
        margin: 5px 0; /* Adjust margin for smaller screens */
    }
    .footer-slide-item img {
        width: 40px;
    }
    .footer-slide-item p {
        font-size: 12px;
        line-height: 18px;
    }
    .footer-slide-item small {
        font-size: 10px;
    }
}

@media (min-width: 576px) {
    .footer-slide-item {
        padding: 20px 15px;
        margin: 15px;
    }
    
    .footer-slide-item img {
        width: 60px;
    }
    .footer-slide-item p {
        font-size: 16px;
        line-height: 24px;
    }
    .footer-slide-item small {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .footer-slider {
        flex-wrap: nowrap; /* Ensures slides don't wrap on wider screens */
    }
    .footer-slide-item {
        max-width: 200px;
    }
}

@media (min-width: 1024px) {
    .footer-slide-item {
        max-width: 250px;
    }
}
